//COLORS

$color-green-primary: #049d3f;
$color-green-dark: #015a1f;
$color-green-light: #40e94f;
$color-yellow-primary: #dceb05;

$color-white: #f4f4f4;
$color-black: #303030;
$color-grey-light: #a9a8a8;
$color-grey-dark: #444343;
