body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  // font-size: $default-font-size;
  line-height: 1;
  color: $color-black;
}

.heading__primary {
  text-align: center;
  font-size: 12rem;
  color: $color-white;
}

.heading-secondary {
  margin: 2rem auto;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to bottom,
    $color-green-primary,
    $color-green-light
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  filter: drop-shadow(3px 3px 3px rgba(1, 1, 1, 0.7))
    drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));

  @include respond(tab-port) {
    font-size: 5rem;
  }

  @include respond(phone) {
    font-size: 6rem;
    padding-top: 4rem;
  }
}

.green-heading {
  padding-top: 2rem;
  background-image: linear-gradient(
    to bottom,
    $color-green-dark,
    $color-green-primary
  );
}
